<section class="max-h-full" role="region" aria-labelledby="main-title">
  <div
    class="flex bg-white border border-b-4 border-b-[#FA5A50] text-[#FA5A50] text-left items-center lg:px-16 px-10 py-4 lg:h-32">
    <h1 id="main-title" class="text-md lg:text-3xl font-medium">Conecte-se com as mentorias que importam!</h1>
  </div>

  <div class="flex flex-col lg:flex-row h-1/2 lg:px-16 px-10 py-6 lg:mt-16">
    <div class="flex-1 lg:flex flex-col items-start hidden">
      <h2 class="text-md lg:text-2xl font-medium">Nunca foi tão fácil se conectar com mentorias!
      </h2>
      <p class="text-xs lg:text-lg mt-2">{{ dynamicText }}</p>
    </div>

    <div class="flex-1 flex items-center lg:justify-end justify-center">
      <div class="transition-opacity duration-300 ease-in-out" [ngClass]="showLogin ? 'opacity-100' : 'opacity-0'"
        *ngIf="showLogin">
        <app-signin (toggleForm)="toggleForm()"></app-signin>
      </div>
      <div class="transition-opacity duration-300 ease-in-out" [ngClass]="!showLogin ? 'opacity-100' : 'opacity-0'"
        *ngIf="!showLogin">
        <app-signup (toggleForm)="toggleForm()"></app-signup>
      </div>
    </div>
  </div>
</section>