.done {
    color: green;
    background-color: lightgreen;
}

.planned {
    color: orange;
    background-color: rgb(248, 213, 147);
}

.awaiting {
    color: red;
    background-color: rgb(248, 159, 159);
}

.mat-expansion-panel-spacing {
    margin: 4px 0px 4px 0px !important;
    padding: 0 !important;
}