/* Add this CSS in your global styles.css or styles.scss */
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .spinner {
    animation: spin 1s linear infinite;
  }
  

  
:host{
  height: 100% !important;
  display: flex;
}